<!DOCTYPE html>
<html lang="ko">
    <title>황총무</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="shortcut icon" href="../static/img/favicon.ico">
        <link href="../static/css/main.css" rel="stylesheet">
        <script src="../static/js/jquery-1.12.4.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
    </head>
    <body>
        <div class="index_container">
            <h1>황총무</h1>
            <div class="subtitle"></div>
            <form class="index_form">
                <input type="text" />
            </form>
            <div id='cauly_ad_area'>
                <script src='//image.cauly.co.kr/websdk/common/lasted/ads.min.js'></script>
                <script>
                  new CaulyAds({
                    app_code:'LIGi62dN',
                    placement:1,
                    displayid:'cauly_ad_area',
                    passback:function(){},
                    success:function(){}
                  });
               </script>
            </div>
        </div>

        <script src="../static/js/index.js"></script>
    </body>
</html>